<launch>


<param name="/use_sim_time" value="true" />
<node pkg="crover_task" type="robot_pose.py" name="Pose_estimator"/>
<node type="rviz" name="rviz" pkg="rviz" args="-d $(find crover_task)/launch/config_file.rviz"/>
<node pkg="rosbag" type="play" name="player" args="--clock /home/aj/data.bag"/>
<node pkg="crover_task" type="pose_to_odom.py" name="pose_to_odom"/>
<node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" args="1 0 0 0 0 0 1 map odom 100" />
<!-- <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
     <remap from="odom" to="/sensors/odom"/>
     <remap from="gps" to="/sensors/gnss/odom"/>
    <param name="output_frame" value="map"/>
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="gps_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
</node> -->
</launch>